body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --flip-card-front-background-color: white;
  --flip-card-front-background-image: none;
  --flip-card-front-color: black;

  --flip-card-back-background-color: black;
  --flip-card-back-background-image: none;
  --flip-card-back-color: white;
}